

@media screen  and (min-width: 1200px) {
	.header {
		display:flex;
		flex-direction:row;
		justify-content:center;
		background:red;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.header {
		display:flex;
		flex-direction:row;
		justify-content:center;
		background:red;
	}
 }

 @media screen and (max-width: 800px) {
	.header {
		display:flex;
		flex-direction:row;
		justify-content:center;
		background:red;
	}
 }