


@media screen and (min-width: 800px) and (max-width: 1200px) {
	 .block-header_pos{
		position: absolute;
		top: 0px;
		z-index: 2;
		/*left:0px;*/
	 }
	 
 }
@media screen  and (min-width: 1200px) {
	 .block-header_pos{
		position: absolute;
		top: 0px;
		z-index: 2;
		left:384px;
	 }
 }

 @media screen and (max-width: 800px) {
	 .block-header_pos{
		 position: absolute;
		top: 0px;
		z-index: 2;
		left:0px;
	 }
	 
 }