
@media screen  and (min-width: 1200px) {
	.block-find_pos2{
		position: relative;	
		    top: 800px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.block-find_pos2{
		position: relative;	
		top: 1200px;
	}
 }

 @media screen and (max-width: 800px) {
	.block-find_pos2{
		position: relative;	
		top: 1400px;
	}
 }