

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.google-map_pos{
		position:relative;
		top: 1000px;
	}	 
 }
@media screen  and (min-width: 1200px) {
	.google-map_pos{
		position:relative;
		top: 1000px;
	}	
 }

 @media screen and (max-width: 800px) {
	.google-map_pos{
		position:relative;
		top: 1000px;
	}	
 }