
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.google-map{
	    width: 1200px;
		height: 874px;
	} 	 
 }
@media screen  and (min-width: 1200px) {
	.google-map{
		width:  1200px;
		height: 874px;
	} 
 }

 @media screen and (max-width: 800px) {
	.google-map{
		width:  800px;
		height: 874px;
	} 
 }