
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.owl-carousel{
		/*width: 1000px;*/
		margin-bottom:115px;
	}	 
 }
@media screen  and (min-width: 1200px) {
	.owl-carousel{
	/*width: 1000px;*/
		margin-bottom:115px;
	}
 }

 @media screen and (max-width: 800px) {
	.owl-carousel{
	/*width: 1000px;*/
		margin-bottom:115px;
	}
 }