@media screen  and (min-width: 1200px) {
	.main-image__header-pic{
		width: 1920px;
		height: 650px;
	}

 }
 
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.main-image__header-pic{
		width: 1200px;
		height: 650px;
	}
	 
 }


 @media screen and (max-width: 800px) {
	.main-image__header-pic{
		width: 800px;
		height: 650px;
	}

 }