
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.block-grid{
		width: 1120px;
		display:flex;
		justify-content:center;
		height:100px;
	}
 }
@media screen  and (min-width: 1200px) {
	.block-grid{
		width: 1920px;
		display:flex;
		justify-content:center;
		height:100px;
	}
 }

 @media screen and (max-width: 800px) {
	.block-grid{
		width:800px;
		display:flex;
		justify-content:center;
		height:100px;
	}
 }