
@media screen  and (min-width: 1200px) {
	.order-form{
		width: 1071px;
		display: flex;
		flex-direction:row;
		justify-content: space-between;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.order-form{
		width: 1071px;
		display: flex;
		flex-direction:row;
		justify-content: space-between;
	}
 }

 @media screen and (max-width: 800px) {
	.order-form{
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 200px;
		align-items: center;
	}
 }