

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.carousel_pos{
		position: relative;
		top: 820px;
		left: 380px;
	}	 
 }
@media screen  and (min-width: 1200px) {
	.carousel_pos{
		position: relative;
		top: 820px;
		left: 380px;
	}
 }

 @media screen and (max-width: 800px) {
	.carousel_pos{
		position: relative;
		top: 820px;
		left: 380px;
	}
 }