
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.block-advantage__background_pos{
		position: relative;
		top: -472px;
		left: 0px;
		z-index:2;
	}
 }
@media screen  and (min-width: 1200px) {
	.block-advantage__background_pos{
		position: relative;
		top: -472px;
		left: 0px;
		z-index:2;
	}
 }

 @media screen and (max-width: 800px) {
	.block-advantage__background_pos{
		position: relative;
		top: -472px;
		left: 0px;
		z-index:2;
	}
 }