@media screen  and (min-width: 1200px) {
	.block-advantage__image{
		width: 1920px;
		height: 472px;
	}  
 }
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.block-advantage__image{
		width: 1100px;
		height: 472px;
	}  
 }


 @media screen and (max-width: 800px) {
	.block-advantage__image{
		width: 800px;
		height: 472px;
	} 
 }