
@media screen  and (min-width: 1200px) {
	.popup__close{
		position:relative;
		left:160px;
		top:10px;
	}
 }

@media screen and (min-width: 800px) and (max-width: 1200px) {
	.popup__close{
		position:relative;
		left:160px;
		top:10px;
	}
 }

 @media screen and (max-width: 800px) {
	.popup__close{
		position:relative;
		left:160px;
		top:10px;
	}
 }