@media screen  and (min-width: 1200px) {
	.demo-film__video{
		width: 1920px;
		height: 1080px;
	}
 }
 
@media screen and (min-width: 800px) and (max-width: 1200px) {
	.demo-film__video{
		width: 1000px;
		/*height: 1080px;*/
	}	 
 }

 @media screen and (max-width: 800px) {
	.demo-film__video{
		width: 600px;
	/*	height: 1080px;*/
	}
 }